extends ./includes/layout.pug

block content
    section.container
        h1.header= title  
        article.item
            div 
            if message.length > 0
                div(class='alert alert-success' role='alert')= message  
            a.button.add(href="/addemployee", class="btn btn-primary") Add new employee
            if(data.length) 
                table.table.table-bordered.table-hover
                    tr
                        th Id employeed
                        th Name 
                        th Adress line
                        th Phone
                        th email
                        th Workstation
                        th
                    each employees in data
                        tr
                            td #{employees.idEmployeed}
                            td #{employees.completeName}
                            td #{employees.adressLine}
                            td #{employees.cellphone}
                            td #{employees.email}
                            td #{employees.workstation}
                            td
                                a.button.edit(href="/showDataEmployee/"+ employees.idEmployeed) Edit
                            td
                                form(method="post", action="/deleteEmployee/"+ employees.idEmployeed)
                                    input(type="hidden",name="_method", value="DELETE")
                                    input.button.delete(class="btn btn-danger" type="button", value="Delete", onclick="eliminar(this)")
                     
                script.
                    function eliminar(input){
                        let deleteOK = confirm('Are you sure you want to delete the registration?'); // funcion Dos botones aceptar y rechazar
                        return (deleteOK) ? input.parentNode.submit() : false;
                    }
            else
                div.error Doesn't have employeess to show